<hr />
<h2>
  Esta es una pagina de "No Encontrado", pero la usaremos para enumerar rutas
  hijas
</h2>
<h4>Apartado de login</h4>
<ul>
  <li>
    <a routerLink="/auth/login">Ir a Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Ir a Login</a>
  </li>
</ul>
<h4>Apartado de heroes</h4>
<ul>
  <li>
    <a routerLink="/heroe/list">Ir a lista de heroes</a>
  </li>
  <li>
    <a routerLink="/heroe/add">Ir a agregar un heroe</a>
  </li>
  <li>
    <a routerLink="/heroe/search">Buscar un heroe</a>
  </li>
  <li>
    <a routerLink="/heroe/edit/123">Editar un heroe con el id 123</a>
  </li>
  <li>
    <a routerLink="/heroe/123">Ver detalle de el heroe con el id 123</a>
  </li>
</ul>
